<div class="comment form">
					<a class="avatar" href="{{.SignedUser.HomeLink}}">
						<img src="{{.SignedUser.RelAvatarLink}}">
					</a>
					<div class="content">
						<form class="ui segment form" id="comment-form" action="{{$.RepoLink}}/issues/{{.Issue.Index}}/comments" method="post">
							{{template "repo/issue/comment_tab" .}}
							{{.CsrfTokenHtml}}
							<input id="status" name="status" type="hidden">
							<div class="text right">
								{{if and (or .IsIssueWriter .IsIssuePoster) (not .DisableStatusChange)}}
									{{if .Issue.IsClosed}}
										<div id="status-button" class="ui green basic button" tabindex="6" data-status="{{.i18n.Tr "repo.issues.reopen_issue"}}" data-status-and-comment="{{.i18n.Tr "repo.issues.reopen_comment_issue"}}" data-status-val="reopen">
											{{.i18n.Tr "repo.issues.reopen_issue"}}
										</div>
									{{else}}
										<div id="status-button" class="ui red basic button" tabindex="6" data-status="{{.i18n.Tr "repo.issues.close_issue"}}" data-status-and-comment="{{.i18n.Tr "repo.issues.close_comment_issue"}}" data-status-val="close">
											{{.i18n.Tr "repo.issues.close_issue"}}
										</div>
									{{end}}
								{{end}}
								<button class="ui green button" tabindex="5">
									{{.i18n.Tr "repo.issues.create_comment"}}
								</button>
							</div>
						</form>
					</div>
				</div>